*{
    padding: 0%;
    margin: 0%;

}




@media (max-width: 480px){

    h1{
        padding: 0%;
        color: white;
        font-size: 22px;
        top: 46%;
    }

    .navegador{
        width: 100%;
        margin: 30px;

    }


    .taxi img{
    position: relative;
      width: 100%;
    }


    .box-yellow{
    
        padding: 26%;
        width: 36%;
        height: 4%;
        background-color: #f7b617;
        position: absolute;
        top: 46%;
        right: 0%;


    }

    






   }